<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="gotoRegistration()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Microsoft Minecraft Event</span>
    <span class="example-spacer"></span>
    
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->

    <button id="logoutBtn" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()" *ngIf="true">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>