<div class="contentPane" style="text-align: center">

    <img src="/assets/images/steve.jfif" alt="Picture of Steve from Minecraft">

    <h1>Welcome to our Minecraft Event!</h1>
    <p>This event is open to employees of Microsoft in Norway.</p>
    <p>Please sign in with your @microsoft.com account using the button below.</p>

    <div class="breaker"></div>

    <button id="login" mat-raised-button color="primary" (click)="gotoRegistration()" style="width: 250px">
        Sign in...
    </button>

</div>