<section class="mat-typography">
    
  <div id="registrationForm" *ngIf="!successfullyRegistered">

    <h1>Registration</h1>
    <p>Awesome to see you here! We're putting up a huge online party for all Microsofties in Norway!</p>
    <p>Register below to participate in our Minecraft event on <strong>Day, Date</strong>.</p>
    
    <div class="breaker"></div>
  
  
    <form [formGroup]="form" class="example-form">
        
      <div class="float-container">
        <div class="float-child">
            <mat-form-field class="example-full-width" style="width: 250px">
                <mat-label>Minecraft player name</mat-label>
                <input matInput formControlName="name" placeholder="Ex. MetalPigeon3337" value="">
            </mat-form-field>
          </div>
        </div>
        
        <div class="float-container">
          <div class="float-child">
            <mat-form-field class="example-full-width" style="width: 250px">
                <mat-label>Microsoft alias</mat-label>
                <input matInput formControlName="alias" placeholder="Ex. chfrenni" value="">
            </mat-form-field>
          </div>
        </div>

        <div class="breaker"></div>
    
        <mat-checkbox formControlName="termsAccepted">Accept our <a href="#" (click)="toggleTerms()">data storage terms, fair-play rules, and code of conduct.</a></mat-checkbox>
    
        <div class="breaker"></div>

        <button id="submit" mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()" style="width: 250px">
          <mat-spinner *ngIf="!state_default" diameter="16" color="#eeeeee" style="display: inline-block; margin-right: 3px;"></mat-spinner>
          <span *ngIf="state_default">Register now...</span>
          <span *ngIf="state_validating">Validating player name...</span>
          <span *ngIf="state_submitting">Adding to server...</span>
        </button>

    </form>

    <div class="breaker"></div>

    <div id="terms" *ngIf="showTerms">
      <h3>Data Storage Terms</h3>
      <p>We will store your Minecraft profile name and Microsoft alias on our Minecraft server for the duration of the event.</p>

      <h3>Fair Play Rules</h3>
      <p>Though shalt not switch thyselves into creative mode to obtain stuff.</p>

      <h3>Code of Conduct</h3>
      <p>Be nice to everyone and don't eat your friends.</p>
    </div>

  </div> <!-- registrationform -->


  <div id="doneMessage" *ngIf="successfullyRegistered">
    <h2>You're in!</h2>
    <p>Now it is time to play! Open Minecraft Java Edition, hit Multiplayer and connect to 52.169.88.111.</p>
    
    <div class="breaker"></div>

    <h2>Your family is welcome too!</h2>
    <p>Your entire family, or that special friend, are welcome too! Hit the button below to register another player.</p>

    <button id="reset" mat-raised-button (click)="reset()">Register another player</button>

  </div>



  </section>